.credential
  .timeSpan= render :partial => 'date_range', :locals => { :start_date => edu.start_date, :end_date => edu.end_date }
  %div
    %span.organization>= edu.organization.name
    \&nbsp;-&nbsp;#{edu.location.to_s}
  %div
    - edu.degrees.each do |degree|
      %div
        #{degree.name}, #{degree.category}
