<%= render :layout => 'home/credential', :locals => {:credential => job, :position => job.position } do -%>
<!-- app/views/update/_job_credential.html.erb -->
<% if job.responsibilities != nil then %>
<ul>
	<% job.responsibilities.each do |point| %>
		<li><%= point %></li>
	<% end %>
</ul>
<% end %>
<% end %>