#rightBar
  - @keypointgroup.each do |group|
    %span.group
      .title= group.value
      %ul
        - group.sub_points.each do |point|
          %li= point.value
#contents
  .credentialGroup
    #education.title Education
    = render :partial => 'edu_credential', :collection => @education, :as => :edu
  .credentialGroup
    #work.title Job Experience
    = render :partial => 'job_credential', :collection => @jobpositions, :as => :job