<!-- apps/views/home/resume.html.erb -->
<div id="rightBar">
	<% @keypointgroup.each do |group| %>
	<span class="group">
		<div class="title"><%= group.title %></div>
		<ul>
			<% group.values.each do |point| %>
			<li><%= point %></li>
			<% end %>
		</ul>
	</span>
	<% end %>
</div>
<div id="contents">
	<div class="credentialGroup">
		<div id="education" class="title">Education</div>
		<%= render :partial => 'edu_credential', :collection => @education, :as => :edu %>
	</div>
	<div class="credentialGroup">
		<div id="work" class="title">Job Experience</div>
		<%= render :partial => 'job_credential', :collection => @jobpositions, :as => :job %>
	</div>
</div>