<% content_for :head do %>
	<meta property="og:type" content="profile" />
	<meta property="og:profile:first_name" content="Adam" />
	<meta property="og:profile:last_name" content="Jacques" />
<% end %>
<div id="rightBar">
	<% @keypointgroup.each do |group| %>
	<span class="group">
		<div class="title"><%= group.value %></div>
		<ul>
			<% group.sub_points.each do |point| %>
			<li><%= point.value %></li>
			<% end %>
		</ul>
	</span>
	<% end %>
</div>
<div id="contents">
	<div class="credentialGroup">
		<div id="education" class="title">Education</div>
		<%= render :partial => 'edu_credential', :collection => @education, :as => :edu %>
	</div>
	<div class="credentialGroup">
		<div id="work" class="title">Job Experience</div>
		<%= render :partial => 'job_credential', :collection => @jobpositions, :as => :job %>
	</div>
</div>
