/* Basic CSS Reset */
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: sans-serif;
}

a:link, a:visited {
	color: #0000ff;
	text-decoration: none;
	transition-duration: 0.5s;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-property: color;
}

a:hover {
	color: #ff0000;
}

#total {
	border-top: solid 0.5em #0087DC;
}

#header {
	z-index: 99999;

	.name {
		text-align: center;
		font-family: 'Calibri', sans-serif;

		.subname {
			font-size: 70%;
		}
	}
}

#rightBar .group {
	font-size: 0.8em;
	
	.title {
		font-weight: bold;
		margin-top: 0.4em;
	}
	ul {
		list-style-type: none;
	}
}

#contents .credentialGroup {
	.title {
		font-size: 1.2em;
	}

	.credential {
		border-top: solid thin gray;
		font-size: 0.8em;
		margin: 1em 0.5em;

		.timeSpan {
			float: right;
			margin-right: 0.5em;
		}

		.subposition {
			font-style: italic;
			color: #777;
		}

		.organization {
			font-weight: bold;
		}

		ul {
			margin-left: 1.5em;
			list-style-type: square;
		}
	}
}

#total {
	background-color: white;
}

#footer {
	bottom: 0.5em;
	font-size: 0.7em;
	left: 0;
	text-align: center;
	width: 100%;
	padding: 0.4em 0 0.4em 0;
}

@media print {
	.noprint {
		display: none;
	}

	#header #nameHeader {
		font-size: 26pt;
		color: #1F497D;
		font-weight: 100;
	}

	#rightBar {
		margin: 5px 0 0 5px;
		float: right;	
		text-align: right;
		padding-right: 5px;
		border-top: thin gray solid;
		border-left: thin gray solid;
		background-color: #FAFAFA;
	}
}