@use "sass:color";
@use 'variables';

$entry-color: color.adjust(variables.$base-section-color, $lightness: -5%);

.blog-entry {
  background-color: $entry-color;
  border: solid thin color.adjust($entry-color, $lightness: -7%);
  border-radius: 4px;
  margin: 1em 0;
  padding: 1em 0.5em;

  & > h5 {
    padding-bottom: 0.5em;
  }
}