.credential {
  padding-bottom: 4em;
  overflow-x: auto;
  position: relative;

  &:not(:first-child) {
    padding-top: 1em;
  }

  > aside {
    float: right;
    text-align: right;
  }
}

.job-title {
  color: #0087DC;
  padding-bottom: .3em;
}

.job-department {
  color: #777;
  font-style: italic;
}

@media (min-width: 800px) {
  .job-department {
    display: inline;

    &:before {
      content: "—";
      padding: 0 .2em;
    }
  }

  .job-organization {
    display: inline;
  }
}

.job-organization {
  font-weight: bold;
}

.job-responsibilities {
  list-style-type: square;
  margin-left: 1.5em;
  margin-top: 1.5em;
}
