@use "sass:color";
@use 'variables';

footer {
	background-color: #333;
	color: #d5d5d5;
	font-size: 0.9em;
	text-align: center;
	width: 100%;
	padding: 1.5em 0;
}

// Dark mode styles
@media (prefers-color-scheme: dark) {
  footer {
    background-color: variables.$dark-lighter-bg;
    color: variables.$dark-text-secondary;
  }
}
