.header-container {
  align-items: center;
  display: flex;
  height: 93vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}

header {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0) 70%);
  border-radius: 0.5em;
  color: #e6e6e6;
  padding: 2em;

  > h1 {
    font-weight: 100;
  }
}

.name-large {
  font-size: 5em;
}

.name-sm {
  font-size: 1.5em;
}

h3 {
  font-size: 1.5em;
}