A:link, A:visited
{
	color: #0000ff;
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
}

body
{
	width: 100%;
	font-size: 10pt;
	font-family: "Proxima Nova Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#contents
{
	margin-top: 0;
}

#header
{
	z-index: 99999;
}

#header .name
{
	text-align: center;
	font-family: Calibri, sans-serif;
}

#body p
{
	margin-top: 0;
}

#rightBar .group .title
{
	font-weight: bold;
}

#rightBar .group ul
{
	margin-top: 0;
	list-style-type: none;
}

.credentialGroup .title
{
	color: #1F497D;
	font-size: 14pt;
	margin-top: 14pt;
	padding-bottom: 14pt;
}

.credentialGroup .credential
{
	border-top: solid thin gray;
	padding-top: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.credentialGroup ul
{
	margin-top: 2px;
	margin-bottom: 2px;
}

.credentialGroup ul li
{
	margin-left: 15pt;
	list-style-type: square;
}

.credentialGroup .timeSpan
{
	float: right;
}