.menu
{
	border-collapse: collapse;
	border-top: thin black dotted;
	bottom: 0;
	left: auto;
	right: auto;
	font-family: arial, sans-serif;
	margin: 0;
	position: relative;
}

.menu .hover
{
	padding: 0 auto;
}

.menu ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu ul li
{
	border-color: white;
	border-style: dotted;
	border-width: 0 1px 0 0;
	float: left;
	margin-right: 1px;
	position: relative;
}

.menu ul li:first-child
{
	border-left-width: 1px;
}

.menu ul li a,.menu ul li a:visited
{
	-webkit-transition-duration: .5s;
	-webkit-transition-property: background-color, color;
	color: black;
	display: block;
	font-size: 11px;
	font-weight: 700;
	height: 20px;
	line-height: 19px;
	max-width: 183px;
	min-width: 150px;
	text-align: center;
	text-decoration: none;
}

.hover ul li:hover a
{
	background-color: #A1D7E6;
	font-weight: 700;
	z-index: 1000;
}

.hover ul li:hover ul
{
	display: block;
	position: absolute;
	top: 21px;
	width: 105px;
}

.hover ul li:hover ul li:hover a.hide
{
	width: 150px;
}

#hover ul li:hover ul li a
{
	background: #fff;
	color: #000;
	display: block;
	width: 183px;
}

.hover ul li:hover ul li a:hover
{
	background: #000;
	color: #fff;
}

.hover ul li:hover ul li:hover ul
{
	color: #000000;
	display: block;
	left: 183px;
	position: absolute;
	top: 0;
}

.hover ul li:hover ul li:hover ul li a
{
	background: #dfc184;
	color: #000000;
	display: block;
	width: 200px;
}

.hover ul li:hover ul li:hover ul li a:hover
{
	background: #bd8d5e;
	color: #ffffff;
}

.menu ul li ul,.hover ul li:hover ul li ul
{
	display: none;
}