/* Basic CSS Reset */
@import 'variables';

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: 'Helvetica', sans-serif;
}

a:link, a:visited {
	color: $blue-accent;
	text-decoration: none;
	transition-duration: 0.1s;
	transition-property: color;
}

a:hover {
	color: darken(desaturate($blue-accent, 70), 40);
}
