/* Basic CSS Reset */
@use "sass:color";
@use 'variables';

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: 'Helvetica', sans-serif;
}

a:link, a:visited {
	color: variables.$blue-accent;
	text-decoration: none;
	transition-duration: 0.1s;
	transition-property: color;
}

a:hover {
	color: color.adjust(color.adjust(variables.$blue-accent, $saturation: -70), $lightness: -40);
}
