@use "sass:color";
@use 'variables';

section {
  padding: 2em .5em 2em .5em;

  &:nth-child(odd) {
    background-color: variables.$base-section-color;
  }

  &:nth-child(even) {
    background-color: color.adjust(variables.$base-section-color, $lightness: -3%);
  }

  > .content {
    margin: 0 auto;
    max-width: 800px;
  }
}

.section-header {
  font-size: 3em;
  margin-bottom: 2em;
  text-align: center;
}

// Dark mode styles
@media (prefers-color-scheme: dark) {
  section {
    &:nth-child(odd) {
      background-color: variables.$dark-section-color;
    }

    &:nth-child(even) {
      background-color: color.adjust(variables.$dark-section-color, $lightness: -5%);
    }
  }
  
  .section-header {
    color: variables.$dark-text;
  }
}
