$base-section-color: #f5f5f5;

section {
  padding: 2em .5em 0 .5em;

  &:nth-child(odd) {
    background-color: $base-section-color;
  }

  &:nth-child(even) {
    background-color: darken($base-section-color, 3%);
  }

  > .content {
    margin: 0 auto;
    max-width: 800px;
  }
}

.section-header {
  font-size: 3em;
  margin-bottom: 2em;
  text-align: center;
}
