@use "sass:color";
@use 'variables';

section {
  padding: 2em .5em 2em .5em;

  &:nth-child(odd) {
    background-color: variables.$base-section-color;
  }

  &:nth-child(even) {
    background-color: color.adjust(variables.$base-section-color, $lightness: -3%);
  }

  > .content {
    margin: 0 auto;
    max-width: 800px;
  }
}

    &:nth-child(even) {

    }
  }
}

.section-header {
  font-size: 3em;
  margin-bottom: 2em;
  text-align: center;
}
