.skills-container {
  overflow: auto;
  padding-bottom: 4em;
}

.skills-list {
  float: left;
  list-style-type: none;
  padding-bottom: .3em;
  width: 200px;
}

.skills-block {
  float: left;
}

.skills-list-header {
  padding-bottom: .3em;
}
