@use 'variables';

.skills-container {
  overflow: auto;
  padding-bottom: 4em;
}

.skills-list {
  float: left;
  list-style-type: none;
  padding-bottom: .3em;
  width: 200px;
}

.skills-block {
  float: left;
}

.skills-list-header {
  padding-bottom: .3em;
}

// Dark mode styles
@media (prefers-color-scheme: dark) {
  .skills-list-header {
    color: variables.$dark-text;
  }
  
  .skills-list {
    color: variables.$dark-text-secondary;
  }
}
