:javascript
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  _paq.push(['setTrackerUrl', 'http://insecure.adrensoftware.com/monitor']);
  _paq.push(['setSiteId', '2']);

